body {
  font-family: 'Noto Sans', sans-serif; /* 선택한 폰트로 설정 */
  font-size: 16px; /* 기본 글자 크기 */
  color: #333; /* 기본 글자 색상 */
}

.detail-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.title-box, .content-box {
  padding: 20px;
  margin-bottom: 20px;
}

.title-box {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.content-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.page-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 40px;
  text-shadow: none;
  margin-left: 550px;
}

.comment-section-title {
  margin-right: 720px;
  margin-top: 25px;
  font-size: 2rem;
  color : black;
  font-weight: bold;
}

.write-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 450px;
}

.commentfield {
  width: 43%;
}
