.main-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.search-container {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-container {
    position: absolute;
    top: calc(20% + 140px);
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    padding: 20px;
    margin-bottom: 90px;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}