.search-medicine-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  background-image: url('../images/backgroundImg2.jpg');
    background-size: cover;
    background-position: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.search-bar-container {
  position: absolute;
  top: 100px;
  right: 20px; /* 오른쪽 여백 추가 */
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 수직 정렬 */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.search-bar-container form {
  display: flex;
  align-items: center; /* 수직 정렬 */
}

.search-bar-container .form-control {
  border: 1px solid #ddd; /* 테두리 색상 */
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 10px;
  font-size: 1.1rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* 내부 그림자 */
  transition: border-color 0.3s ease;
}

.search-bar-container .form-control:focus {
  border-color: #4caf50; /* 포커스 시 테두리 색상 */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* 포커스 시 그림자 */
}

.search-bar-container button {
  background-color: #4caf50; /* 버튼 배경 색상 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.search-bar-container button:hover {
  background-color: #45a049; /* 버튼 호버 시 배경 색상 */
}

.search-bar-container button:focus {
  outline: none; /* 포커스 시 기본 테두리 제거 */
}


.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 200px;
  width: 100%;
  max-width: 1200px;
  margin-left: 60px;
}

.card-col {
  margin-bottom: 20px;
}

.card {
  height: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.modal-body {
  display: flex;
  flex-direction: row;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.medicine-text {
  font-size: 1.2rem; /* 글씨 크기 */
  color: #333; /* 글씨 색상 */
  line-height: 1.6; /* 줄 간격 */
  font-weight: 400; /* 글씨 두께 */
  text-shadow: none;
}